---
layout: main.html
title: ''
---

  <div class="gl">

    <div class="gl-cell">

      <h1>
        Jotted
      </h1>

      <p>
        Environment for showcasing self-hosted HTML, CSS and JavaScript snippets, with editable source.
      </p>

      <div class="header-install">
        <pre><code><a href="https://www.npmjs.com/package/jotted/">npm</a> install jotted</code></pre>
        <pre><code><a href="http://bower.io/">bower</a> install jotted</code></pre>
      </div>

      <a href="#">
        Download
      </a>

      <a href="#">
        View on GitHub
      </a>

    </div>

    <div class="gl-cell">

      <div id="j-header"></div>



    </div>

  </div>

<div class="container">



</div>

