---
layout: main.html
title: ''
---

<div id="test" data-html="index.html"></div>
<div id="test2" data-css="jotted.styl"></div>

<link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css">
<script src="bower_components/codemirror/lib/codemirror.js"></script>

<script src="bower_components/ace-builds/src-min/ace.js"></script>

<script src="bower_components/less/dist/less.js"></script>

<script src="bower_components/coffee-script/extras/coffee-script.js"></script>

<script src="lib/stylus.min.js"></script>

<script src="jotted.js"></script>

<script>
  Jotted.plugin('test', function (jotted, options) {
    console.log('test', options)
  });

  var jot = new Jotted(document.getElementById('test'), {
    plugins: [
      'ace',
      'less',
      'coffeescript',
      {
        name: 'test',
        options: {
          testOption: 'test-option'
        }
      }
    ]
  });

  var jot = new Jotted(document.getElementById('test2'), {
    showBlank: true,
    plugins: [
      {
        name: 'codemirror',
        options: {}
      },
      'stylus'
    ]
  });
</script>
