---
layout: main.html
title: ''
---

<div id="j-cm"></div>

<link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css">
<script src="bower_components/codemirror/lib/codemirror.js"></script>

<script src="jotted.js"></script>

<script>
  var jot = new Jotted(document.getElementById('j-cm'), {
    files: [{
      type: 'js',
      content: ''
    }],
    plugins: ['console']
  });

  jot.done('change', function () {
    console.log('done')
  })
</script>
