.jotted.jotted-theme-flex
  display: flex
  flex-flow: row wrap
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;

  &-md-demo
    height: 22em

  &-lg-demo
    height: 32em

  > .jotted-pane-result
    flex: 1 100%

  .jotted-editor
    height: calc(100% - 39px)

  .jotted-nav
    display: none;

  .jotted-pane
    padding-top: 0
    height: 50%

    .jotted-pane-title
      display: block;
      background: rgba(51,51,51,0.08);
      border-bottom: 1px solid rgba(51,51,51,0.2);
      padding: 0 0.8em;
      line-height: 2.4em;

      &-result
        display: none

  &.jotted-has-html .jotted-pane-html,
  &.jotted-has-css .jotted-pane-css,
  &.jotted-has-js .jotted-pane-js
    position: relative
    visibility: visible

// widths
//
.jotted-theme-flex.jotted-has-html .jotted-pane,
.jotted-theme-flex.jotted-has-css .jotted-pane,
.jotted-theme-flex.jotted-has-js .jotted-pane {
  max-width: 100%
  width: 100%
}

.jotted-theme-flex.jotted-has-html.jotted-has-css .jotted-pane-html,
.jotted-theme-flex.jotted-has-html.jotted-has-css .jotted-pane-css,
.jotted-theme-flex.jotted-has-html.jotted-has-js .jotted-pane-html,
.jotted-theme-flex.jotted-has-html.jotted-has-js .jotted-pane-js,
.jotted-theme-flex.jotted-has-css.jotted-has-js .jotted-pane-css,
.jotted-theme-flex.jotted-has-css.jotted-has-js .jotted-pane-js {
  max-width: 50%
  width: 50%
}

.jotted-theme-flex.jotted-has-html.jotted-has-css.jotted-has-js .jotted-pane-html,
.jotted-theme-flex.jotted-has-html.jotted-has-css.jotted-has-js .jotted-pane-js,
.jotted-theme-flex.jotted-has-html.jotted-has-css.jotted-has-js .jotted-pane-css {
  max-width: 33.3333%
  width: 33.3333%
}

