---
layout: demo.html
title: 'Ace Editor'
demo: true
---

<div class="jotted-demo jotted-demo-ace"></div>

<textarea class="demo-content demo-content-ace">
<div id="jotted-demo-ace"></div>

<script src="../jotted.js"></script>
<script>
  new Jotted(document.querySelector('#jotted-demo-ace'))
</script>

</textarea>