---
layout: demo.html
title: CoffeeScript
demo: true
---
<div id="jotted-demo-coffee"></div>

<script src="bower_components/coffee-script/extras/coffee-script.js"></script>

<link href="jotted.css" rel="stylesheet">
<script src="jotted.js"></script>
<script>
  new Jotted(document.querySelector('#jotted-demo-coffee'), {
    files: [
      {
        type: 'js',
        content: '# Functions:\nsquare = (x) -> x * x\nconsole.log(square(4))'
      }
    ],
    pane: 'js',
    plugins: [
      'coffeescript'
    ]
  })
</script>
