---
layout: demo.html
title: Console Plugin
demo: true
---
<p>
  The <strong>console</strong> plugins adds an extra <strong>JS Console</strong> tab. It's a lightweight version of the browser's console, running  in the iframe context.
</p>

<p>
  It also captures <code>console.log</code> calls you make, but it doesn't log errors in your code.
</p>

<div id="jotted-demo-console" style="height: 28em"></div>

<link href="../jotted.css" rel="stylesheet">
<script src="../jotted.js"></script>
<script>
  new Jotted(document.querySelector('#jotted-demo-console'), {
    files: [
      {
        type: 'html',
        content: '<h1>Side by side editing</h1>'
      },
      {
        type: 'js',
        content: 'var someVar = 1;\nconsole.log("log someVar", someVar);'
      }
    ],
    pane: 'console',
    plugins: [
      'console'
    ]
  });
</script>
