---
layout: demo.html
title: Loading files
demo: true
---
<div id="jotted-demo-files"></div>

<link href="../jotted.css" rel="stylesheet">
<script src="../jotted.js"></script>
<script>
  new Jotted(document.querySelector('#jotted-demo-files'), {
    files: [
      {
        type: 'html',
        url: '../blank.html'
      }
    ]
  })
</script>
