---
layout: demo.html
title: Less
demo: true
---
<p>
  Load <a href="http://lesscss.org/#download-options" target="_blank">Less.js</a> first.
</p>

<div id="jotted-demo-less"></div>

<script src="../bower_components/less/dist/less.js"></script>

<link href="../jotted.css" rel="stylesheet">
<script src="../jotted.js"></script>
<script>
  new Jotted(document.querySelector('#jotted-demo-less'), {
    files: [
      {
        type: 'css',
        content: '@lessBg: hotpink;\nbody {\n background: @lessBg; \n}'
      }
    ],
    pane: 'css',
    plugins: [
      'less'
    ]
  });
</script>
