---
layout: demo.html
title: Markdown
demo: true
---
<p>
  Load the <a href="https://github.com/chjj/marked" target="_blank">marked</a> markdown library first.
</p>

<div id="jotted-demo-markdown"></div>

<link rel="stylesheet" href="../bower_components/codemirror/lib/codemirror.css">
<script src="../bower_components/codemirror/lib/codemirror.js"></script>

<script src="../lib/marked.js"></script>

<link href="../jotted.css" rel="stylesheet">
<script src="../jotted.js"></script>
<script>
  new Jotted(document.querySelector('#jotted-demo-markdown'), {
    files: [
      {
        type: 'html',
        content: '# Using Markdown\n\n > And CodeMirror'
      }
    ],
    pane: 'html',
    plugins: [
      'codemirror',
      'markdown'
    ]
  });
</script>
