/* console plugin
 */

.jotted-nav-item-console {
  display: block;
}

.jotted-pane-active-console .jotted-pane-console {
  position: relative;
  visibility: visible;
}

.jotted-pane-active-console .jotted-nav-item-console {
  background: #fff;
  border-color: rgba(#333, .3);

  color: #222;
}

.jotted-console-container {
  height: 100%;
  overflow: auto;
}

.jotted-console-output {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.jotted-console-log {
  padding: 1em;
}
