---
layout: main.html
---

<div class="gl gl-vertical">

  <div class="gl-cell header-demo">

    <div class="gl">

      <div class="gl-cell">

        <a href="../" class="button-back">
          &larr; Back to documentation
        </a>

        <h1>
          Jotted
        </h1>

      </div>

      <div class="gl-cell dropdown-container">

        <div class="dropdown">

          <a href="#dropdown-demos" class="button dropdown-button">
            Demos
          </a>

          <ul id="dropdown-demos" class="dropdown-content">
            <li>
              <a href="simple.html">
                Simple Layout
              </a>
            </li>
            <li>
              <a href="sticky.html">
                Sticky Footer
              </a>
            </li>
            <li>
              <a href="holy.html">
                Holy Grail Layout
              </a>
            </li>
            <li>
              <a href="mail.html">
                Email App
              </a>
            </li>
          </ul>

        </div>

      </div>

    </div>

  </div>

  <div class="gl-cell gl-fill">
    {{> body }}
  </div>
</div>

<link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="css/demos.css">

<script src="bower_components/codemirror/lib/codemirror.js"></script>
<script src="bower_components/he/he.js"></script>
<script src="js/demos.js"></script>
