<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {{#if title}}
      {{ title }} &#8212; Jotted
    {{else}}
      Jotted
    {{/if}}
  </title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="jotted.css">
</head>
<body>

  <h1>
    Jotted
  </h1>

  {{> body }}

  <div id="test" data-html="index.html"></div>

  <link rel="stylesheet" href="bower_components/codemirror/lib/codemirror.css">
  <script src="bower_components/codemirror/lib/codemirror.js"></script>

  <script src="bower_components/ace-builds/src-min/ace.js"></script>

  <script src="bower_components/less/dist/less.js"></script>

  <script src="bower_components/coffee-script/extras/coffee-script.js"></script>


  <script src="jotted.js"></script>



  <script>
    Jotted.plugin('test', function () {
      console.log('test init')
    });

    var jot = new Jotted(document.getElementById('test'), {
      plugins: {
//         codemirror: {},
        ace: {},
        less: {},
        coffescript: {},
        test: {}
      }
    });
  </script>

</body>
</html>
