<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {{#if title}}
      {{ title }} &#8212; Jotted
    {{else}}
      Jotted &#8212; Showcase self-hosted HTML, CSS and JavaScript demos, with editable source
    {{/if}}
  </title>
  <meta name="description" content="Environment for showcasing HTML, CSS and JavaScript, with editable source. Like JSFiddle or JS Bin for self-hosted demos.">
  <meta name="keywords" content="jot,jotted,html,css,javascript,editor,client-side,self-hosted,demo,jsfiddle,jsbin,codepen,cssdeck,fiddle">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{#if demo}}
    <base href="../">
  {{/if}}

  <link rel="stylesheet" href="bower_components/gridlayout/gridlayout.css">
  <link rel="stylesheet" href="bower_components/prism/themes/prism.css">
  <link rel="stylesheet" href="jotted.css">

  <link rel="stylesheet" href="css/site.css">
</head>
<body>

  <script src="jotted.js"></script>

  {{> body }}

  <!--[if !(lte IE 8)]><!-->
  <script src="bower_components/prism/prism.js"></script>
  <!--<![endif]-->
  <script src="bower_components/gridlayout/gridlayout-ie.js"></script>

  <script src="js/site.js"></script>
</body>
</html>
