<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    {{#if title}}
      {{ title }} &#8212; Jotted
    {{else}}
      Jotted
    {{/if}}
  </title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  {{> body }}

  <div id="test" data-html="index.html"></div>

  <script src="jotted.js"></script>
  <script>
    new Jotted(document.getElementById('test'))
  </script>

</body>
</html>
